BOT_TOKEN=your_telegram_bot_token_here
ADMIN_ID=123456789,987654321
ADMIN_USERNAME=@thuyahtetaung123
GITHUB_TOKEN=your_github_token_optional
REPO_OWNER=your_github_username_optional
REPO_NAME=your_repo_name_optional
PORT=8099
